.head{
    background-image:url(../img/header.jpg);
   height: 400px;
   /*width: 1595px; */
    border: solid 2px rgb(138, 141, 141);
    padding: 10px;
    margin: 0%;
    

}
.box{
    background-image:url(../img/gradient.png);
    background-color: rgb(4, 4, 68);
    left: 3rem;
    min-width: 15rem;
    max-width: 23rem;
    padding: 4rem 3rem 4rem 3rem;
    top: 29rem;
    margin-left: 20px;
    margin-top: 300px;
    border-radius: 10%;
    /* margin-top: 200px; */
}
.topic{
    color:white;
    /* opacity: 65%; */
    font-weight: 700 ;
    position: relative;
    font-size: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}