body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background: url(./../pictures/rawImage.jpg);
    color: #111111;
    text-align: center;
    height: 17pc;
}

.hea {
    margin-left: 1rem;
    color: #00266d;
}

.text {
    font-weight: 500;
    font-size: 18px;
    padding: 1rem;
}

.menu-container {
    position: fixed;
    top: 10px;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.menu-container:hover {
    background-color: #aaff55;
}

.menu-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #aaff55;
}

.menu-container:hover .menu-btn {
    color: black;
}

/* Navigation styles */
.nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #f6f6ee;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    transition: right 0.3s ease;
    padding: 5px;
}

.nav.open {
    right: 0
}

.nav-link {
    margin-left: 2pc;
    margin-top: 1pc;
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.nav-link.active {
    color: gold;
}

.login-button {
    margin-left: 2pc;
    background-color: #FFA500;
    width: 10pc;
    border: none;
    padding: 15px;
    text-align: center;
    display: block;
    margin-top: 20px;
    transition: color 0.3s;
    border-radius: 12px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.login-button:hover {
    margin-left: 2pc;
    background-color: darkblue;
    width: 10pc;
    color: #ffffff;
    border: none;
    padding: 15px;
    text-align: center;
    display: block;
    margin-top: 20px;
    transition: color 0.3s;
    border-radius: 12px;

}

.plus-icon {
    position: absolute;
    right: -8pc;
    bottom: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 4px;
}


.close-btn {
    display: flex;
    position: absolute;
    right: 1.2rem;
    width: 40px;
    height: 35px;
    cursor: pointer;
    font-size: 1.8rem;
    color: #333;
    transition: color 0.4s ease;
    /* Smooth color transition */
    background-color: #f6f6ee;
    justify-content: center;
}

.close-btn:hover {
    color: red;
    background-color: black;
}

.container1,
.container2 {
    position: fixed;
    top: 60px;
    /* Adjusted top position */
    display: flex;
    right: 0;
    align-items: center;
    z-index: 2;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.container2 {
    top: 110px;
    /* Adjusted top position */
    right: 0;
}

.container1:hover,
.container2:hover {
    background-color: #aaff55;
    /* Change background color on hover */
}

.bell {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #aaff55;
    /* Initial color */
    text-decoration: none;
}

.container1:hover .bell,
.container2:hover .bell {
    color: black;
    /* Change color on hover */
}

.bell-label {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.logo_img {
    height: 100px;
    width: 130px;
    display: block;
    right: -20pc;
}

.box {
    max-width: calc(100% - 3rem);
    background: url(./../pictures/program-line-bg.png) no-repeat 50% #00266d;
    background-size: cover;
    border-radius: 2rem;
    color: #fff;
    padding: 3rem;
    position: absolute;
    top: 10rem;
    left: 1.5rem;
}

.content-heading {
    margin-top: 1rem;
    text-align: center;
    color: rgb(31, 28, 28);
}

.content {
    font-size: 1.2rem;
    text-align: justify;
    margin: 2rem;
    color: black;
}

.color {
    background-color: #EDEAF5;
    color: black;
}

.grade {
    text-align: start;
    display: flex;
    color: #00266d;
    border-bottom: 1px solid rgb(27, 26, 26);
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0px;
}
.line {
    border: 1px solid rgb(27, 26, 26);
    border-bottom: 0cap;
    padding: 5px;

}
.ranjana-school-name{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ranjana-school-name-word{
    height: 5rem;
    padding: 0%;
    margin: 0%;
}
.mySlides{
    height: 30vh;
    border: 0.14rem solid yellow;
    border-radius: 50%;
    aspect-ratio: 14.81 / 14.97;
}
.slider {
    
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url(/app/pictures/world-map1.png);
    padding-bottom: 0%; 
    height: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 4pc;
    padding-bottom: 0%;
   
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide figure {
    text-align: center;
    margin: 0;
    position: relative;
}

.slide img { 
    height: 40vh; 
    border-radius: 50%;
    border: 5px yellow; 
    object-fit: cover; 
}
.message {
    color: black;
    border: 3px solid gold;
    background-color:#ffffff;
    margin-top:0%;
    padding: 1rem;
}
.newa-teacher-name{
    font-weight: bolder;
    color: rgba(18, 17, 17, 0.986);
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 2pc;
}