/* .container{
    height:100%;
     margin-top: 15rem;
    background-color: rgba(240, 248, 255, 0.732);
}
 .pictures{
    height:80hv;
    width:400px;
    margin-top:30rem auto;
    margin: 10rem auto;
    align-items: center;
    display: flex;

 }
p{
    color:black;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-display:initial;
} */
 .header{
    /* background:linear-gradient(rgba(7, 15, 44, 0.7),rgba(4, 9, 30, 0.7)); */
position: relative;
min-height: 22rem;
 }
 .headd{
    height:25rem;
    width:100%;
    object-fit: fill;
 }
 .box{
    height:100%;
    width:100%;
object-fit: cover;
flex-wrap: wrap;
 }
 .bg{
    height: 100%;
    width:100%;
 }
 .content{
    border-radius: 2rem;
    background-color: bisque;
    padding:2.5rem;
    position:absolute;
    top:20rem;
    left:1.5rem;

 }
 a{
    text-decoration: none;
 }
 .title{
    color:black;
    font-size: 25px;
    text-align: center;
    text-decoration: none;

 }
 
 .images{
   display: block;
   margin-top: 10%;
   /* border: 2rem; */
   width: 60%;
   align-items: center;
   padding-left: 20%;
   padding-right: 20%;
   border-radius: 25%;
 }
 .heading{
    font-size:40px;
    font-family: sans-serif;
    color:rgb(8, 4, 56);
    text-align: center;
 }
 p{
    font-size:20px;
    text-align: center;

 }
 @media (min-width:578px){
    .box{
        width:100%
    }
}

@media screen and (min-width:400px){
   .box .images{
        height:35rem;

 }
}
    
